
.icon-keyboard:before { content: '\e800'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */